{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<h1>{% trans "Sign Up" %}</h1>
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

{% if form.errors %}
<div class="alert alert-warning mx-3">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ form.errors }}
</div>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" name="email" value="{{ form.email.value}}" placeholder="E-mail адрес" required="" id="id_email" class="form-control" />
        <i class="fa fa-envelope"></i>
    </div>

    <div class="form-group">
        <input type="text" name="username" value="{{ form.username.value}}" placeholder="Имя пользователя" autofocus="autofocus" minlength="5" maxlength="150" required="" id="id_username" class="form-control" />
        <i class="fa fa-user"></i>
    </div>

    <div class="form-group">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button type="submit" class="btn btn-default">{% trans "Sign Up" %}</button>
    </div>
</form>

{% endblock %}
