{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Strichka">
    <meta name="author" content="JackShen">

    <meta property="og:site_name" content="{% block meta_sitename %}Strichka{% endblock %}">
    <meta property="og:image:alt" content="Strichka UA: Account Settings" />
    <meta property="og:image" content="https://i.imgur.com/BXDCNXr.png" />
    <meta property="og:image:width" content="{% block meta_image_width %}1000{% endblock %}" />
    <meta property="og:image:height" content="{% block meta_image_height %}1000{% endblock %}" />
    {% block metablock %}
    <meta property="og:title" content="Strichka UA: Account Settings" />
    {% endblock %}
    <meta property="og:type" content="website" />

    <title>{% block title %}Strichka UA: Account Settings{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Main core CSS -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- ionicons -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/libs/ionicons.min.css' %}">

    <!-- Main style CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}" media="all"/>

    {% block extra_head %}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-01PQS21PGC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-01PQS21PGC');
    </script>
</head>
<body class="body">
	<div class="sign section--bg" data-bg="{% static 'img/section/section.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
                    {% block content %}
                    {% block messages %}
                    {% endblock %}
					{% endblock %}
                    {% block content_extra %}
                    {% endblock %}
				</div>
			</div>
		</div>
	</div>

<!-- jquery main JS -->
<script src="{% static 'js/libs/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('.section--bg').each(function() {
        if ($(this).attr("data-bg")) {
            $(this).css({
                'background': 'url(' + $(this).data('bg') + ')',
                'background-position': 'center center',
                'background-repeat': 'no-repeat',
                'background-size': 'cover'
            });
        }
    });
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>
