{% extends "account/base.html" %}
{% block title %}Change Password{% endblock %}
{% block metablock %}
<meta property="og:title" content="Strichka UA: Change Password" />
{% endblock %}

{% block content %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
        {% endfor %}
    {% endif %}
{% endblock %}

<div class="sign__content">
    <form method="POST" action="{% url 'account_change_password' %}" id="change_password_form" class="sign__form">
        {% csrf_token %}
        <h3>Change Password</h3>
        {{ form.as_p }}
        <button class="sign__btn" type="submit" name="action">Change Password</button>
    </form>
</div>
{% endblock %}
