{% extends "account/base.html" %}
{% block title %}Change Password{% endblock %}
{% block metablock %}
<meta property="og:title" content="Strichka UA: Password Reset From Key" />
{% endblock %}

{% block content %}
<div class="sign__content">
    {% if token_fail %}
    <div class="sign__form">
        {% url 'account_reset_password' as passwd_reset_url %}
        <h1>Bad Token</h1>
        <span class="sign__text">
            The password reset link was invalid, possibly because it has already been used. <br>
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
        </span>
    </div>
    {% else %}
        {% if form %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        <h1>Change Password</h1>
        {{ form.as_p }}
        <button class="sign__btn" type="submit">Change Password</button>
        <span class="sign__text">Please contact us if you have any trouble resetting your password.</span>
    </form>
        {% else %}
    <div class="sign__form">
        <h3>Your password is now changed.</h3>
    </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
