{% extends "account/base.html" %}
{% load static %}
{% load account %}
{% block title %}Password Reset{% endblock %}
{% block metablock %}
<meta property="og:title" content="Strichka UA: Password Reset Done" />
{% endblock %}

{% block content %}
<div class="sign__content">
    <div class="sign__form">
        <a href="{% url 'index' %}" class="sign__logo">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% block content_extra %} {% endblock %}
        {% else %}
        <h3 class="sign__text" style="padding-bottom: 20px; font-size: 16px;">Password Reset Email Sent.</h3>
        <span class="sign__text">We have e-mailed you. Please contact us if you do not receive it within a few minutes. <br> You will be redirected to <a href="/account/login">Sign In</a> page in 5 seconds.</span>
        <script>setTimeout("location.href = '{% url 'account_login' %}';",5000);</script>
        {% endif %}
    </div>
</div>
{% endblock %}
