{% extends "account/base.html" %}
{% load static %}
{% load account %}
{% block title %}Password Reset{% endblock %}
{% block metablock %}
<meta property="og:title" content="Strichka UA: Password Reset" />
{% endblock %}

{% block content %}
<div class="sign__content">
    <form method="POST" action="{% url 'account_reset_password' %}" id="reset_form" class="sign__form">
        {% csrf_token %}
        <div class="sign__logo">
            <img alt="Stichka Logo" src="{% static 'img/logo.png' %}" />
        </div>

        <span class="sign__text" style="padding-bottom: 20px; font-size: 16px;">Please enter your email address to reset your password:</span>

        <div class="sign__group">
            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="email" required id="id_email" class="sign__input" placeholder="Enter your email address..."/>
        </div>

        <button class="sign__btn" type="submit">Reset Password</button>
        <span class="sign__text">Please contact us if you have any trouble resetting your password.</span>
    </form>
</div>
{% endblock %}
