{% extends "account/base.html" %}
{% block title %}Sign Up Closed{% endblock %}
{% block metablock %}
<meta property="og:title" content="Strichka UA: Sign Up Closed" />
{% endblock %}

{% block content %}
<div class="sign__content">
    <div class="sign__form">
        <h3>Verify Your E-mail Address</h3>
        <span class="sign__text">
            We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. <br>
            Please contact us if you do not receive it within a few minutes.
        </span>
    </div>
</div>
{% endblock %}
