{% extends "account/base.html" %}
{% block title %}Verify Your E-mail Address{% endblock %}
{% block metablock %}
<meta property="og:title" content="Strichka UA: Verify Your E-mail Address" />
{% endblock %}

{% block content %}
<div class="sign__content">
    <div class="sign__form">
        <h1>Verify Your E-mail Address</h1>
        <span class="sign__text">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</span>
    </div>
</div>
{% endblock %}
