[tool.black]
line-length = 88
target-version = ['py311']
skip-magic-trailing-comma = true
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \venv
  | \.ve
  | _build
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
ensure_newline_before_comments = true
use_parentheses = true
skip_gitignore = true
skip_glob = ['venv', '.git', 'migrations']
known_standard_library = ['typing']
