dj_database_url==1.2.0
Django==4.1.5
django-allauth==0.52.0
django-cacheops==6.1
django-debug-toolbar==3.8.1
django-debug-toolbar-template-timings==0.9
django-extensions==3.2.1
django-filter==22.1
django-import-export==3.0.2
django-jazzmin==2.6.0
django-mptt==0.14.0
django-mptt-admin==2.3.0
django-redis==5.2.0
django-service-objects==0.7.1
djangorestframework==3.14.0
drf-spectacular==0.25.1
gunicorn==20.1.0
psycopg2-binary==2.9.5
pydantic==1.10.4
python-dateutil==2.8.2
python-dotenv==0.21.0
whitenoise==6.3.0
