::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background: -webkit-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  border-radius: 10px;
}
/*============================== Preloader ==============================*/
.spinner {
  animation: spin 1.5s linear alternate infinite;
  background: #b73f41;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.spinner:before {
  background: #b73f41;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}
.spinner:after {
  background: #262e2a;
  border-radius: 50%;
  box-shadow: 0 -2.6em #262e2a, 2.25em -4.02em #262e2a, 2.25em -1.25em #262e2a,
    4.6em 0 #262e2a, 2.25em 1.25em #262e2a, 2.25em 4.02em #262e2a,
    0 2.6em #262e2a, -2.25em 4.02em #262e2a, -2.25em 1.25em #262e2a,
    -4.6em 0 #262e2a, -2.25em -1.25em #262e2a, -2.25em -4.02em #262e2a;
  content: "";
  display: block;
  height: 2em;
  width: 2em;
}
.inner {
  animation: load 1.5s linear alternate infinite;
  border: solid 1px #b73f41;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}
.spinner,
.spinner:before,
.spinner:after,
.inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
@keyframes load {
  0% {
    box-shadow: 0 -2.6em #262e2a, 2.25em -1.25em #262e2a, 2.25em 1.25em #262e2a,
      0 2.6em #262e2a, -2.25em 1.25em #262e2a, -2.25em -1.25em #262e2a;
  }
  15% {
    box-shadow: 0 -2.6em #262e2a, 2.25em -1.25em #262e2a, 2.25em 1.25em #262e2a,
      0 2.6em #262e2a, -2.25em 1.25em #262e2a, -2.25em -1.25em #b73f41;
  }
  30% {
    box-shadow: 0 -2.6em #262e2a, 2.25em -1.25em #262e2a, 2.25em 1.25em #262e2a,
      0 2.6em #262e2a, -2.25em 1.25em #b73f41, -2.25em -1.25em #b73f41;
  }
  45% {
    box-shadow: 0 -2.6em #262e2a, 2.25em -1.25em #262e2a, 2.25em 1.25em #262e2a,
      0 2.6em #b73f41, -2.25em 1.25em #b73f41, -2.25em -1.25em #b73f41;
  }
  60% {
    box-shadow: 0 -2.6em #262e2a, 2.25em -1.25em #262e2a, 2.25em 1.25em #b73f41,
      0 2.6em #b73f41, -2.25em 1.25em #b73f41, -2.25em -1.25em #b73f41;
  }
  75% {
    box-shadow: 0 -2.6em #262e2a, 2.25em -1.25em #b73f41, 2.25em 1.25em #b73f41,
      0 2.6em #b73f41, -2.25em 1.25em #b73f41, -2.25em -1.25em #b73f41;
  }
  90% {
    box-shadow: 0 -2.6em #b73f41, 2.25em -1.25em #b73f41, 2.25em 1.25em #b73f41,
      0 2.6em #b73f41, -2.25em 1.25em #b73f41, -2.25em -1.25em #b73f41;
  }
  100% {
    box-shadow: 0 -2.6em #b73f41, 2.25em -1.25em #b73f41, 2.25em 1.25em #b73f41,
      0 2.6em #b73f41, -2.25em 1.25em #b73f41, -2.25em -1.25em #b73f41;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  45% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*============================== Common styles ==============================*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #2b2b31;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
#app {
  display: none;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}
button:focus {
  outline: none;
}
a {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
input,
textarea,
select {
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-moz-selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  transition: height 0.4s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}
.b-description_readmore_button {
  cursor: pointer;
  display: block;
  height: 24px;
  width: 100%;
  position: relative;
}
.b-description_readmore_button:before {
  content: "\f1c8";
  font-family: "Ionicons";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 22px;
  line-height: 24px;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.b-description_readmore_button:hover:before,
.b-description_readmore_button.b-description_readmore_button_active:before {
  color: #ff55a5;
}
.body:before {
  content: "";
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(43, 43, 49, 0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.body--active:before {
  z-index: 99;
  opacity: 1;
  pointer-events: auto;
}
/*============================== Header ==============================*/
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2b2b31;
  z-index: 101;
}
.header .container {
  max-width: 1240px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 15px;
  background-color: #2b2b31;
  width: 140px;
}
.header__logo img {
  width: auto;
  max-width: 110px;
  display: block;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  background-color: #2b2b31;
  z-index: 99;
  width: 260px;
  padding: 30px 30px 0;
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.header__nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}
.header__nav--active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.header__nav-link {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.2px;
}
.header__nav-link:hover {
  color: #ff55a5;
}
.header__nav-link--more {
  font-weight: 400;
  font-size: 24px;
}
.header__nav-link--active {
  color: #ff55a5;
}
.header__nav-item {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.header__nav-item:last-child {
  margin-bottom: 0;
}
.header__nav-item.show .header__nav-link {
  color: #ff55a5;
}
.header__dropdown {
  position: relative;
  display: block;
  width: 100%;
}
.header__dropdown-menu {
  position: absolute;
  background-color: #2b2b31;
  padding: 15px 20px;
  display: block;
  width: 100%;
  min-width: 200px;
  text-align: left;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 0;
  top: 100%;
}
.header__dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}
.header__dropdown-menu li {
  padding: 0;
}
.header__dropdown-menu a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 40px;
  display: block;
  font-weight: 300;
}
.header__dropdown-menu a:hover {
  color: #ff55a5;
}
.header__dropdown-menu.show {
  z-index: 1000;
  pointer-events: auto;
  opacity: 1;
  margin-top: 10px;
}
.header__wrap {
  position: relative;
  background-color: #2b2b31;
  z-index: 2;
}
.header__search {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #2b2b31;
  z-index: 1;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.header__search--active {
  bottom: -60px;
}
.header__search-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  position: relative;
}
.header__search-content input {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #28282d;
  border: none;
  padding: 0 120px 0 15px;
  font-size: 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.header__search-content button {
  position: absolute;
  height: 40px;
  width: 90px;
  top: 10px;
  right: 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  opacity: 0.85;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.6px;
}
.header__search-content button:hover {
  color: #fff;
  opacity: 1;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
.header__auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 44px;
}
.header__search-btn {
  color: rgba(255, 255, 255, 0.75);
  font-size: 26px;
}
.header__search-btn:hover,
.header__search-btn.active {
  color: #fff;
}
.header__sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  opacity: 0.85;
  margin-left: 20px;
}
.header__sign-in span {
  display: none;
}
.header__sign-in i {
  color: #fff;
  font-size: 24px;
}
.header__sign-in:hover {
  opacity: 1;
}
.header__btn {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  width: 24px;
  height: 40px;
  opacity: 0.8;
}
.header__btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  top: 13px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.header__btn span:nth-child(2) {
  top: 21px;
}
.header__btn span:nth-child(3) {
  top: 29px;
}
.header__btn:hover {
  opacity: 1;
}
.header__btn--active {
  opacity: 1;
}
.header__btn--active span:nth-child(1) {
  top: 21px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__btn--active span:nth-child(2) {
  opacity: 0;
}
.header__btn--active span:nth-child(3) {
  top: 21px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header-profile {
  display: flex;
  align-items: center;
  padding: 0 5px 0 20px;
  margin-left: auto;
  flex-shrink: 0;
  color: #f9fafb;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 3px solid rgba(255, 88, 96, 0.5);
}
@media screen and (max-width: 350px) {
  .header__sign-in {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header-profile {
    padding: 0 5px 0 10px;
  }
  .profile-img {
    width: 40px;
    height: 40px;
    border-width: 2px;
  }
}
@media (min-width: 576px) {
  .header__logo {
    width: 170px;
    padding: 0 20px;
  }
  .header__logo img {
    max-width: 130px;
  }
}
@media (min-width: 768px) {
  .header__content {
    height: 90px;
  }
  .header__logo {
    height: 90px;
    width: 240px;
    padding: 0;
  }
  .header__logo img {
    max-width: 172px;
  }
  .header__auth {
    margin-right: 54px;
  }
  .header__search-btn {
    font-size: 30px;
  }
  .header__sign-in {
    height: 50px;
    width: 160px;
    margin-left: 30px;
  }
  .header__sign-in i {
    display: none;
  }
  .header__sign-in span {
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .header__nav {
    top: 90px;
  }
  .header__search-content input {
    padding: 0 130px 0 20px;
  }
  .header__search-content button {
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .header__sign-in {
    margin-left: 45px;
  }
  .header__auth {
    margin-right: 0;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0;
    background-color: transparent;
    width: auto;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    margin-left: 45px;
  }
  .header__nav:before {
    display: none;
  }
  .header__nav-item {
    margin: 0 45px 0 0;
    width: auto;
  }
  .header__nav-item:last-child {
    margin: 0;
  }
  .header__nav-link {
    line-height: 90px;
    display: block;
  }
  .header__nav-link--active {
    color: #fff;
    cursor: default;
    position: relative;
  }
  .header__nav-link--active:hover {
    color: #fff;
  }
  .header__nav-link--active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: -moz-linear-gradient(
      225deg,
      #f14b44,
      #c33253 50%,
      #8e4083
    );
    background-image: -webkit-linear-gradient(
      225deg,
      #f14b44,
      #c33253 50%,
      #8e4083
    );
    background-image: -ms-linear-gradient(
      225deg,
      #f14b44,
      #c33253 50%,
      #8e4083
    );
    background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  }
  .header__content {
    justify-content: flex-start;
  }
  .header__auth {
    margin-left: auto;
  }
  .header__dropdown-menu {
    margin-top: -10px;
  }
  .header__dropdown-menu.show {
    margin-top: 0;
  }
}
/*============================== Footer ==============================*/
.footer {
  background-color: #28282d;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 20px 0 30px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}
.footer__title {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer__list {
  margin-bottom: 10px;
}
.footer__list li {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.footer__list li:last-child {
  margin-bottom: 0;
}
.footer__list a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__list a:hover {
  color: #ff55a5;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.footer__social li {
  margin-right: 20px;
}
.footer__social li:last-child {
  margin-left: 0;
}
.footer__social li.facebook a {
  color: #3b5999;
}
.footer__social li.instagram a {
  color: #ff5860;
}
.footer__social li.instagram a i:before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff5860;
}
.footer__social li.twitter a {
  color: #1da1f2;
}
.footer__social li.github a {
  color: #ffffff;
}
.footer__social a {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__social a:hover {
  color: #ff55a5;
}
@media (min-width: 768px) {
  .footer {
    padding: 30px 0 30px;
  }
  .footer__list a {
    font-size: 15px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
}
/*============================== Modal ==============================*/
.modal-bg,
.modal-rating-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: background-color 250ms linear;
}
.modal-content,
.modal-rating-content {
  position: fixed;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  background-color: #2b2b31;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: transform 250ms ease;
  visibility: hidden;
  z-index: 20;
}
.modal-content .close,
.modal-rating-content .close {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  cursor: pointer;
  z-index: 11;
  color: white;
}
.modal-content header,
.modal-rating-content header {
  position: relative;
  display: block;
}
.modal-content .round {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  border: 2px solid rgb(195, 50, 83);
  padding: 7px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.modal-content header h2 {
  margin: 0 0 10px;
  padding: 15px 5px 5px;
  color: white;
  font-size: 24px;
  text-align: center;
}
.modal-content footer,
.modal-rating-content footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.modal-content footer .button {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0 18px 0 6px;
  border-radius: 5px;
  line-height: 40px;
  color: white;
  overflow: hidden;
  text-decoration: none;
  text-align: left;
  transition: color 0.1s ease;
}
.modal-content footer .button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 250ms ease;
  z-index: 0;
}
.modal-content footer .button:hover:before {
  width: 100%;
}
.modal-content footer .button .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.modal-content footer .button .icon:before {
  display: inline-block;
  width: 40px;
}
.modal-content footer .button .icon:after {
  content: "";
}
@media (max-width: 560px) {
  .modal-content footer .button .icon {
    display: none;
  }
  .modal-content footer .button {
    padding: 0 10px;
    text-align: center;
  }
}
#modal,
#modal-rating {
  display: none;
}
#modal:checked ~ .modal-bg,
#modal-rating:checked ~ .modal-rating-bg {
  visibility: visible;
  background-color: black;
  opacity: 0.7;
  transition: background-color 250ms linear;
}
#modal-rating:checked ~ .modal-rating-content,
#modal:checked ~ .modal-content {
  visibility: visible;
  transition: transform 250ms ease;
  z-index: 111;
}
label.header-profile {
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.btn-acc {
  background: -moz-linear-gradient(
    225deg,
    rgb(241, 75, 68),
    rgb(195, 50, 83) 50%,
    rgb(142, 64, 131)
  );
  background: -webkit-linear-gradient(
    225deg,
    rgb(241, 75, 68),
    rgb(195, 50, 83) 50%,
    rgb(142, 64, 131)
  );
  background: -ms-linear-gradient(
    225deg,
    rgb(241, 75, 68),
    rgb(195, 50, 83) 50%,
    rgb(142, 64, 131)
  );
  background: linear-gradient(
    225deg,
    rgb(241, 75, 68),
    rgb(195, 50, 83) 50%,
    rgb(142, 64, 131)
  );
  border: 1px solid rgba(51, 49, 49, 0.5);
}
.btn-acc .icon {
  border-right: 1px solid white;
}
.btn-acc .icon:after {
  border-right: 1px solid #4d4d4d;
}
.btn-acc:hover {
  background-color: #464646;
  color: white;
}
.btn-acc + .btn-acc {
  margin-top: 10px;
}
@media (max-width: 900px) {
  .modal-content footer {
    display: grid;
  }
  .modal-content {
    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;
  }
}
/*============================== Watchlist ==============================*/
.watchlist-btn {
  margin: auto;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  top: 0;
  border-radius: 10px 0 10px 0;
  z-index: 5;
  background: -moz-linear-gradient(90deg, #c2c2c2 0%, #969696 100%);
  background: -webkit-linear-gradient(90deg, #c2c2c2 0%, #969696 100%);
  background: -ms-linear-gradient(90deg, #c2c2c2 0%, #969696 100%);
  background: linear-gradient(90deg, #c2c2c2 0%, #969696 100%);
  border: 1px solid rgba(128, 96, 121, 0.5);
}
.watchlist-btn.added {
  background: -moz-linear-gradient(90deg, #51ad2b 0%, #00b712 100%);
  background: -webkit-linear-gradient(90deg, #51ad2b 0%, #00b712 100%);
  background: -ms-linear-gradient(90deg, #51ad2b 0%, #00b712 100%);
  background: linear-gradient(90deg, #51ad2b 0%, #00b712 100%);
  border: 1px solid rgba(139, 203, 142, 0.5);
}
.icn-btn {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding: 2px 6px 3px;
}
.line {
  display: block;
  background: #ffffff;
  width: 90%;
  height: 3px;
  position: absolute;
  left: 5%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.watchlist-btn .line {
  width: 60%;
  left: 20%;
  background-color: #ffffff;
}
.watchlist-btn .line-1 {
  top: 50%;
  margin-top: -2px;
}
.watchlist-btn .line-2 {
  -webkit-transform: translateX(0) rotate(90deg);
  -moz-transform: translateX(0) rotate(90deg);
  -ms-transform: translateX(0) rotate(90deg);
  -o-transform: translateX(0) rotate(90deg);
  transform: translateX(0) rotate(90deg);
  top: 50%;
  margin-top: -2px;
}
.added .line {
  left: 5%;
  background-color: #fff;
}
.watchlist-btn.added .line-1 {
  -webkit-transform: translateX(47%) rotate(45deg);
  -moz-transform: translateX(47%) rotate(45deg);
  -ms-transform: translateX(47%) rotate(45deg);
  -o-transform: translateX(47%) rotate(45deg);
  transform: translateX(47%) rotate(45deg);
  top: 50%;
  width: 30%;
}
.watchlist-btn.added .line-2 {
  -webkit-transform: translateX(50%) rotate(-55deg);
  -moz-transform: translateX(50%) rotate(-55deg);
  -ms-transform: translateX(50%) rotate(-55deg);
  -o-transform: translateX(50%) rotate(-55deg);
  transform: translateX(50%) rotate(-55deg);
  top: 41%;
  width: 55%;
}
/*============================== More Loading ==============================*/
#addMore {
  margin: 0 auto;
}
.more-loader {
  display: none;
  position: relative;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 10px 0;
}
.more-loader .dot {
  width: 10px;
  height: 10px;
  background: #ff55a5;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: calc(50% - 5px);
}
.more-loader .dot1 {
  left: -40px;
  -webkit-animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28)
    alternate infinite;
  animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate
    infinite;
}
.more-loader .dot2 {
  left: 0;
  -webkit-animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28)
    alternate infinite;
  animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate
    infinite;
}
.more-loader .dot3 {
  left: 40px;
  -webkit-animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28)
    alternate infinite;
  animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate
    infinite;
}
@keyframes dot-jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
