.error-page {
  display: block;
  position: relative;
}
.error-page__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}
.error-page__content {
  background-color: #2b2b31;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
  width: 100%;
  max-width: 400px;
}
.error-page__content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}
.error-page__title {
  position: relative;
  background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff5860;
  line-height: 100%;
  font-size: 80px;
  margin-bottom: 15px;
  text-shadow: 0 12px 64px rgba(255, 88, 96, 0.35);
}
.error-page__text {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.error-page__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: -webkit-linear-gradient(
    225deg,
    #f14b44,
    #c33253 50%,
    #8e4083
  );
  background-image: -ms-linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  background-image: linear-gradient(225deg, #f14b44, #c33253 50%, #8e4083);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  opacity: 0.85;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px auto 0;
  text-decoration: none;
}
.error-page__btn:hover {
  opacity: 1;
  color: #fff;
}
@media (min-width: 768px) {
  .error-page__content {
    padding: 50px 0;
  }
  .error-page__title {
    font-size: 100px;
  }
}
