{% extends "admin/base.html" %}

{% block extrastyle %}
<style>
.sidebar-section { display: none; }
.sidebar-section~.sidebar-section { display: block; }
.sidebar-section.last { display: none; }
.object-tools.initialized { display: flex; }
</style>
{% endblock %}

{% load static %}
{% load i18n %}


{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}


{% block branding %}
    <a id="site-name"  href="/" class="sidebar-link-label">Strichka Admin</a>
{% endblock %}


{% block messages %}
    {% if messages %}
    <ul class="messagelist" style="margin-top: 1%; margin-right: 15%">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock messages %}
