{% extends 'movies/base.html' %}
{% load app_tags %}
{% load static %}
{% load humanize %}
{% block title %}{{ title }} ({{ year }}){% endblock %}

{% block metablock %}
<meta property="og:image" content="{{ poster }}" />
<meta property="og:image:alt" content="{{ title }} ({{ year }})" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="445" />
<meta property="og:title" content="{{ title }} ({{ year }})" />
<meta property="og:description" content="{{ plot }}" />
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/libs/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="{% static 'css/libs/plyr.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% if user.is_authenticated %}
{% block modal_rating %}
<input type="checkbox" id="modal-rating" />
<label for="modal-rating" class="modal-rating-bg"></label>
<div class="modal-rating-content">
    <label for="modal-rating" class="close">
        <i class="icon ion-md-close"></i>
	</label>

    <header>
		<h2>Your Rating</h2>
	</header>
    <footer>
        <form action="" id="ratingForm" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ imdb_id }}" name="imdb">
            {% include "movies/include/rating.html" %}
            <label id='exclude-rating' {% if rate_value %}style="display: flex;" {% endif %} data-action="rate" {% if user.is_authenticated %}data-csrf_token="{{ csrf_token }}" data-url="{% url 'movie_rate' movie_id %}" onclick="$(this).hide();" {% else %}onclick="openLogin();"{% endif %}>
                <span>
                    <i class="icon ion-md-trash" style="font-size: 14px;"></i>
                    &nbsp;Remove Rating
                </span>
            </label>
        </form>
    </footer>
</div>
{% endblock %}
{% endif %}

{% block content %}
<section class="section details">
    <div class="details__bg" data-bg="{% static 'img/section/movie_back.webp' %}"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="details__title">{{ title }} ({{ year }})</h1>
            </div>
            <div class="col-10">
                <div class="card card--details card--series">
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-4">
                            <div class="card__cover">
                                <img src="{{ poster }}" alt="{{ title }}">
                                <button id="watchlist" {% if user.is_authenticated %}data-csrf_token="{{ csrf_token }}" data-url="{% url 'movie_watchlist' movie_id %}"{% endif %} class="watchlist-btn">
                                <div class="icn-btn">
                                    <span class="line line-1"></span>
                                    <span class="line line-2"></span>
                                </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-sm-7 col-md-7 col-lg-8 col-xl-8">
                            <div class="card__content">
                                <div class="card__wrap">
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{ imdb_rate }}</span>
                                    <span class="card__vote"><i class="icon ion-md-checkbox-outline"></i>{{ imdb_votes|intcomma }}</span>
                                    <ul class="card__list">
                                        <li>{% if is_movie %}Movie{% else %}Series{% endif %}</li>
                                        {% if age_mark %}
                                        <li>{{ age_mark }}</li>
                                        {% endif %}
                                    </ul>
                                    {% if user.is_authenticated %}
                                    <label for="modal-rating" id='movie-card-rating-button'>
                                        {% if rate_value %}
                                        <span><i class="icon ion-md-star"></i>&nbsp;{{ rate_value }} / 10</span>
                                        {% else %}
                                        <span><i class="icon ion-md-star-outline"></i>&nbsp;Rate</span>
                                        {% endif %}
                                    </label>
                                    {% endif %}
                                </div>
                                <table class="card__meta">
                                    <tr>
                                        <th>Genre:</th>
                                        <td>
                                            {% for genre in genres %}
                                            <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Release Date:</th>
                                        <td>{{ release|date:"d F Y" }}</td>
                                    </tr>
                                    {% if runtime|time:"H:i" != "00:00" %}
                                    <tr>
                                        <th>Runtime:</th>
                                        <td>{{ runtime|time:"H:i" }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Country:</th>
                                        <td>
                                            {% for country in countries %}
                                            <a href="{{ country.get_absolute_url }}">{{ country.name }}</a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Year:</th>
                                        <td><a href="{% url 'movies_years_list' year %}">{{ year }}</a></td>
                                    </tr>
                                    {% if box_office %}
                                    <tr>
                                        <th>Box Office:</th>
                                        <td>${{ box_office|intcomma }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if total_seasons %}
                                    <tr>
                                        <th>Total Seasons:</th>
                                        <td>{{ total_seasons }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if awards %}
                                    <tr>
                                        <th>Awards:</th>
                                        <td>{{ awards }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if directors %}
                                    <tr>
                                        <th>Director:</th>
                                        <td>
                                            {% for director in directors %}
                                            <a href="{{ director.get_absolute_url }}">{{ director.full_name }}</a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if writers %}
                                    <tr>
                                        <th>Writers:</th>
                                        <td>
                                            {% for writer in writers %}
                                            <a href="{{ writer.get_absolute_url }}">{{ writer.full_name }}</a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Cast:</th>
                                        <td>
                                            {% for actor in actors %}
                                            <a href="{{ actor.get_absolute_url }}">{{ actor.full_name }}</a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                                <div class="card__description card__description--details" style="color: #9da1a8;">
                                    {{ plot }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if keywords|length > 1 %}
            <div class="col-12 keyword-tags">
                <span>Keywords: </span>
                {% for keyword in keywords %}
                <span class="keyword-tag">{{ keyword }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-12 detail__rating">
                <button data-id="{{ movie_id }}" data-action="like" {% if user.is_authenticated %}data-csrf_token="{{ csrf_token }}" data-url="{% url 'movie_like' movie_id %}"{% endif %} class="like-button">
                <div class="emitter"></div>
                <div class="hand">
                    <div class="thumb"></div>
                </div>
                <span>Like<span class="hidden-like">d</span> <span id="like{{ movie_id }}" class="number">{{ likes_count }}</span></span>
                </button>
                <button id="favorite" {% if user.is_authenticated %}data-csrf_token="{{ csrf_token }}" data-url="{% url 'movie_favorite' movie_id %}"{% endif %} class="fav-button">
                <svg width="515.99" height="480.73" version="1.1" viewBox="0 0 515.99347 480.73038" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <path class="heart" id="b" d="m372.59 17.99c-48.54 0-92.99 26.12-118 67.99-24.79-42.41-67.41-68-115.18-68-72.86 0-131.09 59.68-138.55 141.94-0.59 3.63-3.02 22.76 4.35 53.94 10.61 44.98 35.13 85.89 70.89 118.29 11.89 10.79 71.34 64.75 178.37 161.87 108.86-97.12 169.34-151.07 181.43-161.86 35.76-32.41 60.28-73.31 70.89-118.3 7.37-31.17 4.94-50.3 4.36-53.93-7.47-82.26-65.69-141.94-138.56-141.94z"></path>
                        <path class="shine" id="a" d="m59.07 176.3c0 5.44 4.4 9.84 9.85 9.84 5.44 0 9.84-4.4 9.84-9.84 0-43.44 35.34-78.78 78.78-78.78 5.44 0 9.84-4.4 9.84-9.84 0-5.45-4.41-9.85-9.84-9.85-54.3 0-98.47 44.17-98.47 98.47z"></path>
                    </defs>
                    <g transform="translate(1.9963 -15.98)">
                        <use width="100%" height="100%" xlink:href="#b"></use>
                        <use width="100%" height="100%" xlink:href="#a"></use>
                    </g>
                </svg>
                </button>
                <button data-id="{{ movie_id }}" {% if user.is_authenticated %}data-action="dislike" data-csrf_token="{{ csrf_token }}" data-url="{% url 'movie_dislike' movie_id %}"{% endif %} class="dislike-button">
                <div class="emitter"></div>
                <div class="hand">
                    <div class="thumb"></div>
                </div>
                <span>Dislike<span class="hidden-like">d</span> <span id="dislike{{ movie_id }}" class="number">{{ dislikes_count }}</span></span>
                </button>
            </div>
            {% if trailer_id %}
            <div class="col-12 col-xl-6" style="margin: 0 auto;">
                <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{{ trailer_id }}"></div>
            </div>
            {% endif %}
            {% if platforms %}
            <div class="col-12 col-xl-6" style="margin: 0 auto;">
                <div class="accordion" id="accordion">
                    {% for country, services in platforms.items %}
                    <div class="accordion__card">
                        <div class="card-header" id="heading{{ country }}">
                            <button type="button" data-toggle="collapse" data-target="#collapse{{ country }}" aria-expanded="false" aria-controls="collapse{{ country }}">
                            <span><img class="service-flag" src="{% static 'img/country/'|add:country|lower|add:'.ico' %}" alt="{{ country }} Flag"> Available {% if country != "Global" %}in{% endif %} <strong>{{ country }}</strong> on platforms:</span>
                            <span><strong>{{ services|length }}</strong> streaming platforms in total.</span>
                            </button>
                        </div>
                        <div id="collapse{{ country }}" class="collapse" aria-labelledby="heading{{ country }}" data-parent="#accordion">
                            <div class="card-body">
                                <table class="accordion__list">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th class="video-types">Video Types</th>
                                            <th class="purchase-types">Purchase Types</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for platform in services %}
                                        <tr>
                                            <th><a href="{{ platform.url }}" class="service-name"><img class="service-icon" src="{% static 'img/services/'|add:platform.service|add:'.ico' %}" alt="{{ platform.service }} Icon">{{ platform.service }}</a></th>
                                            <td class="video-types">
                                                <ul class="card__list" style="margin-left: 0;">
                                                    {% for video_format in platform.video_format_as_list %}
                                                    <li>{{ video_format }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="purchase-types">
                                                <ul class="card__list" style="margin-left: 0;">
                                                    {% for video_format in platform.purchase_type_as_list %}
                                                    <li>{{ video_format }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="content__title">Comments</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <div class="row">
                    <div class="col-12">
                        {% load mptt_tags %}
                        <div class="comments">
                            <ul class="comments__list">
                                {% recursetree comments %}
                                <li class="comments__item">
                                    <div class="comments__autor">
                                        <img class="comments__avatar" src="{{ node.user|gravatar:60}}" alt="{{ node.user.username }}">
                                        <span class="comments__name">{{ node.user.username }}</span>
                                        <span class="comments__time">{{ node.commented_on }}</span>
                                    </div>
                                    <p class="comments__text">{{ node.text }}</p>
                                    <div class="comments__actions">
                                        <div class="comments__rate">
                                            <button class="comment-like" data-id="{{ node.id }}" type="button" data-action="like" {% if user.is_authenticated %}data-url="{% url 'comment_like' node.id %}" data-csrf_token="{{ csrf_token }}"{% endif %}>
                                            <i class="icon ion-md-thumbs-up"></i>
                                            <span id="like{{ node.id }}">{{ node.votes.likes.count }}</span>
                                            </button>
                                            <button class="comment-dislike" data-id="{{ node.id }}" type="button" data-action="dislike" {% if user.is_authenticated %}data-url="{% url 'comment_dislike' node.id %}" data-csrf_token="{{ csrf_token }}"{% endif %}>
                                            <span id="dislike{{ node.id }}">{{ node.votes.dislikes.count }}</span>
                                            <i class="icon ion-md-thumbs-down"></i>
                                            </button>
                                        </div>
                                        {% if user.is_authenticated %}
                                        <a href="#form-comment" onclick="addComment('{{ node.user.username }}', '{{ node.id }}')"><i class="icon ion-ios-share-alt"></i>Reply</a>
                                        {% endif %}
                                    </div>
                                </li>
                                {% if not node.is_leaf_node %}
                                <div class="{% if node.level == 0 %}comments__item--answer{% elif node.level >= 1 %}comments__item--answer-level-2{% endif %}">{{ children }}</div>
                                {% endif %}
                                {% endrecursetree %}
                            </ul>
                            {% if user.is_authenticated %}
                            <form action="" method="post" class="form" id="form-comment">
                                {% csrf_token %}
                                <input type="hidden" name="parent" value="" id="comment-parent">
                                <textarea required id="contact-comment" name="text" class="form__textarea" placeholder="Add comment"></textarea>
                                <button type="submit" class="form__btn">Send</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-4">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section__title section__title--sidebar">You may also like...</h2>
                    </div>
                    {% for movie in movies_to_discover %}
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="card">
                            <a href="{{ movie.get_absolute_url }}" class="card__cover">
                                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                                <div class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </div>
                            </a>
                            <div class="card__content">
                                <h3 class="card__title"><a href="{{ movie.get_absolute_url }}#">{{ movie.title }}</a></h3>
                                <span class="card__category">
                                {% for genre in movie.genres.all %}
                                <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                                {% endfor %}
                                </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>{{ movie.imdb_rate }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<!-- Plyr Player  -->
<script src="{% static 'js/libs/plyr.min.js' %}"></script>
<!-- jquery custom scrollbar -->
<script src="{% static 'js/libs/jquery.mCustomScrollbar.min.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'js/votes.js' %}"></script>
<script src="{% static 'js/rate.js' %}"></script>
<script src="{% static 'js/fav_watchlist.js' %}"></script>
{% endif %}
<script type="text/javascript">
    {% if user.is_authenticated %}
    {% if rate_value %}
    $("#rating-{{ rate_value }}").prop("checked", true);
    {% endif %}
    document.getElementById("form-comment").action = "{% url 'movie_comment' movie_id %}";

    function addComment(name, id) {
        document.getElementById("comment-parent").value = id;
        document.getElementById("contact-comment").innerText = `${name}, `
    }

    function openLogin() {
        window.open("{% url 'account_login' %}", "_self");
    }

    $('#favorite, #watchlist').click(function() {
        handleFavWatch($(this), "added");
    });

        {% is_favorite user movie_id as favorite_movie %}
        {% if favorite_movie %}
    $("#favorite").toggleClass("added");
        {% endif %}

        {% in_watchlist user movie_id as watchlist_movie %}
        {% if watchlist_movie %}
    $("#watchlist").toggleClass("added");
        {% endif %}
    {% else %}
    $("#watchlist, #favorite, .like-button, .dislike-button, .comment-like, .comment-dislike").click(function() {
        openLogin();
    });
    {% endif %}

     function initializePlayer() {
        if ($('#player').length) {
            const controls = [
                'play-large', // The large play button in the center
                'play', // Play/pause playback
                'progress', // The progress bar and scrubber for playback and buffering
                'current-time', // The current time of playback
                'duration', // The full duration of the media
                'mute', // Toggle mute
                'volume', // Volume control
                'settings', // Settings menu
                'pip', // Picture-in-picture (currently Safari only)
                'airplay', // Airplay (currently Safari only)
                'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
                'fullscreen', // Toggle fullscreen
            ];
            const player = new Plyr('#player', { controls });
        } else {
            return false;
        }
        return false;
    }
    $(window).on('load', initializePlayer());
</script>
{% endblock extra_js %}
